<footer class="footer">
  <nav>
    <ul class="terms-of-use">
      <li><a href="{% url 'home:terms_of_service' %}">利用規約</a></li>
      <li><a href="{% url 'home:privacy' %}">プライバシー</a></li>
      <li><a href="{% url 'home:help' %}">ヘルプ</a></li>
      <li><a href="{% url 'home:inquiry' %}">お問い合わせ</a></li>
    </ul>

    <ul class="service-links">
      <li><a href="{% url 'home:about' %}">WaZとは</a></li>
      <li><a href="{% url 'home:users' %}">ユーザー</a></li>
      <li><a href="https://nakka-k.hatenablog.com/">開発者ブログ</a></li>
      <li><a href="{% url 'home:opinion' %}">ご意見</a></li>
    </ul>
  </nav>
</footer>

