- extends 'home_base.html'
- load bootstrap4

- block content
  .bg-primary.pt-4
    .container.pt-4

  .container.pt-4
    %h1.pb-4 お問い合わせ
    %form{method: "POST"}
      -csrf_token
      - bootstrap_form form
      %button.btn.btn-primary.btn-lg.float-right{type: "submit"} 送信
    %br
