# Created by https://www.gitignore.io/api/linux,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
/asset/

# If your build process includes running collectstatic, then ...

# [WRANING] Settings file on local env
local_settings.py

# [WARNING] Secret keys file
.env


# pyenv / pyenv-virtualenv
.python-version

# Editor / IDE
.vscode/

