{% extends 'nav_base.html.haml' %}
{% load bootstrap4 %}

{% block content %}
<div class="container pt-4">
  <h1 class="mb-4">パスワード変更</h1>
    <div class="card-block">
      <p>セキュリティ上の理由から元のパスワードの入力が必要です。新しいパスワードは正しく入力したか確認できるように二度入力してください。</p>
      <form method="POST" class="pb-4">
        {% csrf_token %}
        {% bootstrap_form form  %}
        <a class="btn btn-secondary btn-lg float-right" href="{% url 'accounts:mypage' %}">戻る</a>
        <button class="btn btn-primary btn-lg float-right mr-2" type="submit">更新</button>
      </form>
    </div>
</div>
{% endblock content %}

