- extends 'nav_base.html.haml'
- load bootstrap4

- block content
  .container.pt-4
    %h1.pb-4 パスワード再設定
    %form.pb-4{method: "POST"}
      -csrf_token
      - bootstrap_form form
      %button.btn.btn-primary.btn-lg.float-right{type: "submit"} パスワードをリセット
