- extends 'nav_base.html.haml'
- load bootstrap4

- block content
  .container.pt-4
    %h1.pb-4 パスワードリセットメールを送信しました

    %p 入力されたメールアドレスを持つアカウントが存在する場合、パスワードを設定するためのメールを送信しました。すぐに受け取る必要があります。
    %p メールが届かない場合は、登録したメールアドレスを入力したか確認し、スパムフォルダに入っていないか確認してください。
