- extends 'nav_base.html.haml'
- load bootstrap4

- block content
  .container.pt-4
    %h1.pb-4 新しいパスワードを入力してください

    %p 確認のため、新しいパスワードを2回入力してください。
    %form.pb-4{method: "POST"}
      - csrf_token
      -bootstrap_form form
      %button.btn.btn-primary.btn-lg.float-right{type: "submit"} パスワードの変更
