{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'accounts/css/profile_fonts.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <h1 class="m-4"><span class="user-font">{{ user_name }}</span> Profile</h1>
    
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="#create_tab" class="nav-link tab-font" data-toggle="tab">Create</a>
        </li>
        <li class="nav-item">
            <a href="#join_tab" class="nav-link tab-font" data-toggle="tab">Join</a>
        </li>
    </ul>


    <div class="tab-content">
        <div id="create_tab" class="tab-pane active">
            <h2>Create Event</h2>
            {% for event in create_events %}
                <div class="card mb-2">
                    <a href="{% url 'product:event_detail' event.pk %}"><h4 class="card-header">{{ event.name }}</h4></a>
                    <p class="card-body">{{ event.description }}</p>
                </div>
            {% endfor %}
        </div>

        <div id="join_tab" class="tab-pane">
            <h2>Join Event</h2>
            {% for event in join_events %}
                <div class="card mb-2">
                    <a href="{% url 'product:event_detail' event.pk %}"><h4 class="card-header">{{ event.name }}</h4></a>
                    <p class="card-body">{{ event.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}