- extends 'nav_base.html'
- load static

- block head
  %link{href: "{% static 'product/css/event_button.css' %}", rel: "stylesheet"}

- block content
  %a.event-button.btn.btn-primary{href: "{% url 'product:event_create' %}"} イベントを作成
  %h1.mt-4.mb-4.ml-2.mr-2.no-float
    イベント一覧

  - for event in events
    .card.border-secondary.mb-2
      %a{href: "{% url 'product:event_detail' event.pk %}"}
        %h4.card-header
          = event.name
      .card-body
        = event.description
