{% extends 'base.html' %}

{% block head %}
<style type="text/css">
.inline {
    display: inline-block;
}
.published-status {
    display: inline-block;
    color: gray;
    font-size: 1rem;
}
</style>
{% endblock head %}


{% block content %}
    <h6 class="mt-4">作成者:{{ event.create_user }}</h6>
    <div class="mt-2 mb-2">
        <h1 class="inline mr-2">{{ event.name }}</h1>

        <p class="published-status">
            {% if event.published_date %}
                {{ event.published_date }}に公開
            {% else %}
                未公開
            {% endif %}
        </p>
    </div>

    <p class="mb-4">{{ event.description }}</p>
    <hr>

    <div class="card mt-4">
        <h4 class="card-header">README</h4>
        <div class="card-text">
            <p class="m-2">{{ event.readme }}</p>
        </div>
    </div>
    
{% endblock content %}
