{% extends 'nav_base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'product/css/event_detail.css' %}" rel="stylesheet">
{% endblock head %}


{% block content %}
    <a href="{% url 'product:event_list' %}" class="btn btn-outline-secondary btn-sm mt-4">戻る</a>
    <hr>

    <h6 class="mt-4">作成者:{{ event.create_user }}</h6>
    <div class="mt-2 mb-2">
        <h1 class="inline mr-2">{{ event.name }}</h1>

        <p class="published-status">
            {% if event.published_date %}
                {{ event.published_date }}に公開
            {% else %}
                未公開
            {% endif %}
        </p>
    </div>

    {% if user == event.create_user %}
        <a href="{% url 'product:event_update' event.pk %}" class="btn btn-primary btn-sm">更新</a>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete_modal">削除</button>
    {% endif %}


    <ul class="nav nav-tabs mt-4">
        <li class="nav-item">
            <a href="{% url 'product:event_detail' event.pk %}" class="nav-link tab-font">Detail</a>
        </li>
        <li class="nav-item">
            <a href="#member_tab" class="nav-link tab-font active">Members</a>
        </li>
    </ul>


    <div class="tab-content mt-4">
        <div id="member_tab" class="tab-pane active">
          <p>参加メンバー
            {% if event.create_user != user and joined %}
              <form action="{% url 'product:event_withdraw' event.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">離脱</button>
              </form>
            {% elif event.create_user != user %}
              <p><a href="{% url 'product:event_join' event.pk %}" class="btn btn-primary btn-sm">参加</a></p>
            {% endif %}
          </p>

          <ul>
            {% for event_join in event_joins %}
              {% if joined and joined.0 == event_join.user %}
                <li><strong>{{ event_join }}</strong></li>
              {% else %}
                <li>{{ event_join }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
    </div>


    <!-- Delete modal -->
    {% include 'include/delete_modal.html' %}

{% endblock content %}

