{% extends 'nav_base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'product/css/event_button.css' %}" rel="stylesheet">
{% endblock head %}


{% block content %}
    <a href="{% url 'product:event_create' %}" class="event-button btn btn-primary">イベントを作成</a>

    <h1 class="m-4 no-float">イベント一覧</h1>

    {% for event in events %}
        <div class="card mb-2">
            <a href="{% url 'product:event_detail' event.pk %}"><h4 class="card-header">{{ event.name }}</h4></a>
            <p class="card-text m-2">{{ event.description }}</p>
        </div>
    {% endfor %}
{% endblock content %}
