- extends 'nav_base.html.haml'
- load static

- block content
  .container.pt-4
    %a.float-right.btn.btn-primary{href: "{% url 'product:event_create' %}"} イベントを作成
    %h1.mt-4.mb-4.ml-2.mr-2
      イベント一覧

    - for event in events
      .card.border-secondary.mb-2
        .card-header
          %a{href: "{% url 'product:event_detail' event.pk %}"}
            %h4
              = event.name
          %a.text-secondary{href: "{% url 'accounts:profile' event.create_user.username %}"}
            = event.create_user
          &nbsp;&nbsp;
          = event.created_at.date
        .card-body
          = event.description
