{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatuble" content="IE=edgeE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}WaZ{% endblock title %}</title>

        {% block head %}{% endblock head %}
    </head>

    <body>
        {% block navbar %}{% endblock navbar %}

        <div class="container">
            {% if messages %}
                {{ messages }}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>


        {% block script %}{% endblock script %}
    </body>
</html>
