{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}WaZ</title>

    <!-- Bootstrap and JQuery(plugins) -->
    {% include 'include/bootstrap-css.html' %}
    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/creative.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/footer.css' %}" rel="stylesheet">
  </head>

  <body id="page-top">
    <!-- Navbar -->
    {% block navbar %}{% endblock navbar %}

    <div class="container">
        {% if messages %}
            <div class="messages mt-2">
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-info" data-alert="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <!-- Main -->
    <main>
      {% block content %}{% endblock content %}
    </main>

    <!-- Footer -->
    <div class="container mt-4 mb-4">
      {% include 'include/home/home_footer.html' %}
    </div>

    <!-- Bootstrap core JavaScript -->
    {% include 'include/bootstrap-js.html' %}
    <!-- Custom scripts for this template -->
    <script src="{% static 'home/js/creative.min.js' %}"></script>
    <!-- Extends script -->
    {% block script %}{% endblock script %}
  </body>
</html>

