footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: lightgray;
}

footer a {
  color: gray;
}
footer a:hover {
  color: darkgray;
}

footer .terms-of-use {
  float: left;
  list-style: none;
}
footer .terms-of-use li {
  float: left;
  margin-left: 15px;
}
footer .terms-of-use li:first-child {
  margin-left: 0;
}

footer .service-links {
  float: right;
  list-style: none;
}
footer .service-links li {
  float: left;
  margin-left: 15px;
}
